<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <!--Main Css-->
    <link href="~/Areas/Admin/AdminContent/css/style.css" rel="stylesheet" />
    <!--Bootstrap Css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <!--Data Table-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!--Calender-->
    <link href="~/Areas/Admin/AdminContent/css/pignose.calendar.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--Navbar-->
                <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-1 shadow">
                    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
                    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                    <ul class="navbar-nav px-3">
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="#">Sign out</a>
                        </li>
                    </ul>
                </nav>
                <!--Aside Menu-->
                <div class="m">
                    <div class="container-fluid">
                        <div class="row">
                            <!--Aside-->
                            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                                <div class="sidebar-sticky">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="index.html">
                                                <i class="fas fa-home"></i>
                                                Dashboard <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Attribute.html">
                                                <i class="fas fa-passport"></i>
                                                Attribute
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Brand.html">
                                                <i class="fas fa-shopping-cart"></i>
                                                Brand
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Customer.html">
                                                <i class="fas fa-users"></i>
                                                Customers
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Reports.html">
                                                <i class="far fa-chart-bar"></i>
                                                Reports
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Catgeory.html">
                                                <i class="fas fa-cubes"></i>
                                                Category
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="FAQ.html">
                                                <i class="fas fa-question"></i>
                                                FAQ
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Order.html">
                                                <i class="fas fa-file-signature"></i>
                                                Order
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Payment.html">
                                                <i class="fas fa-credit-card"></i>
                                                Payment
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Product.html">
                                                <i class="fas fa-boxes"></i>
                                                Product
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Shipper.html">
                                                <i class="fas fa-dolly"></i>
                                                Shipper
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Supplier.html">
                                                <i class="fas fa-parachute-box"></i>
                                                Supplier
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <!--Main Dashboard-->
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function initLocalClocks() {
            // Get the local time using JS
            var date = new Date();
            var seconds = date.getSeconds();
            var minutes = date.getMinutes();
            var hours = date.getHours();

            // Create an object with each hand and it's angle in degrees
            var hands = [
                {
                    hand: 'hours',
                    angle: (hours * 30) + (minutes / 2)
                },
                {
                    hand: 'minutes',
                    angle: (minutes * 6)
                },
                {
                    hand: 'seconds',
                    angle: (seconds * 6)
                }
            ];
            // Loop through each of these hands to set their angle
            for (var j = 0; j < hands.length; j++) {
                var elements = document.querySelectorAll('.' + hands[j].hand);
                for (var k = 0; k < elements.length; k++) {
                    elements[k].style.webkitTransform = 'rotateZ(' + hands[j].angle + 'deg)';
                    elements[k].style.transform = 'rotateZ(' + hands[j].angle + 'deg)';
                    // If this is a minute hand, note the seconds position (to calculate minute position later)
                    if (hands[j].hand === 'minutes') {
                        elements[k].parentNode.setAttribute('data-second-angle', hands[j + 1].angle);
                    }
                }
            }
        }
    </script>
    <!--Weather Forcast-->
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!--Bootstarp Js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Main Js-->
    <script src="~/Areas/Admin/AdminContent/js/script.js"></script>
    <script src="~/Areas/Admin/AdminContent/js/canvasjs.min.js"></script>
    <!--Calender-->
    <script src="~/Areas/Admin/AdminContent/js/pignose.calendar.full.min.js"></script>
    @RenderSection("scriptsAdmin", required: false)

</body>
</html>