<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EShoppingEntities" connectionString="metadata=res://*/Models.EShoppingModel.csdl|res://*/Models.EShoppingModel.ssdl|res://*/Models.EShoppingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.142.70.127;initial catalog=EShopping;user id=developer;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>