<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EShoppingEntities" connectionString="metadata=res://*/Models.EShoppingModel.csdl|res://*/Models.EShoppingModel.ssdl|res://*/Models.EShoppingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-N9C7OB8\SA;Initial Catalog=EShopping;User Id=SA;password=123456;;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>