body{
    overflow-x: hidden;
}
a:hover{
    text-decoration: none !important;
}
.inline{
    display: flex;
    flex-wrap: wrap;
}
.chart{
    height: 370px; 
    max-width: 1011px;
    margin: 70px auto;
}
.canvasjs-chart-credit{
    display: none !important;
}
.map-bg{
    margin: 0;
    background-color: rgba(80,80,80,1);
}
.map{
    width: 100%;
    height: 550px;
}
.map-notify-head {
    margin: 0px 0px 30px 0px;
}
.map-notify {
    padding: 10px 20px;
    background: #8bc34a;
    border: 1px solid #8bc34a;
    border-radius: 5px;
    width: 320px;
    margin: 20px auto;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.map-notify:hover{
    background: #7baf3e;
    border: 1px solid #7baf3e;
    transition: 0.5s;
}
.map-notify2 {
    padding: 10px 20px;
    background: #03a9f4;
    border: 1px solid #03a9f4;
    border-radius: 5px;
    width: 320px;
    margin: 20px auto;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.map-notify2:hover{
    background: #0391d2;
    border: 1px solid #0391d2;
    transition: 0.5s;
}
.map-notify3 {
    padding: 10px 20px;
    background: #ab47bc;
    border: 1px solid #ab47bc;
    border-radius: 5px;
    width: 320px;
    margin: 20px auto;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.map-notify3:hover{
    background: #953ba5;
    border: 1px solid #953ba5;
    transition: 0.5s;
}
.map-notify-data{
    width: 100%;
}
.map-notify-data span{
    font-weight: 900;
}
.odr-tbl{
    margin: 100px 0 30px 0;
}
.widgets{
    margin: 50px 0 30px 0;
}
.clock {
    margin-left: 2em;
    border-radius: 10%;
    background: #fff url('../images/station_clock.svg') no-repeat center;
    background-size: 88%;
    height: 20em;
    padding-bottom: 31%;
    position: relative;
    box-shadow: 3px 15px 31px 0px #a0a0a0;
    width: 20em;
}
.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}
.minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}
.seconds {
    background: #bf1919;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}
@keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
}
.hours-container {
    animation: rotate 43200s infinite linear;
}
.minutes-container {
    animation: rotate 3600s infinite linear;
}
.seconds-container {
    animation: rotate 60s infinite linear;
}
.minutes-container {
    animation: rotate 3600s infinite steps(60);
}
.seconds-container {
    animation: rotate 60s infinite steps(60);
}
.minutes-container {
    transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {
    transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}
.pignose-calendar{
    width: 80% !important;
    max-width: unset !important;
    margin: 0 5.7em auto !important;
}
.forcast{
    padding: 50px 0 0 0;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.m{
    margin-top: 52px;
}
.nav-link {
    display: block;
    padding: 0.5rem 0rem !important;
}
.sidebar-sticky {
    padding: 1em 0px;
}
.sidebar-sticky a{
    color: #333333;
}
.sidebar-sticky li {
    padding: 0.5em 0;
    font-size: 14px;
}
.fas, .far{
    width:24px;
    height:24;
    font-size: 1.3em;
}
.main{
    margin: 50px 0 0 0;
}
.edt-btn {
    background: #11ab00;
    padding: 13px 3px 10px 12px;
    box-shadow: 2px 2px 5px 1px #b5b5b5;
    color: #fff;
    transition: 0.5s;
    font-size: 10px;
    border-radius: 50%;
}
.edt-btn:hover{
    transition: 0.5s;
    background: #0e9600;
    color: #fff;
}
.del-btn {
    background: #ff0000;
    padding: 13px 2px 10px 13px;
    color: #fff;
    box-shadow: 2px 2px 5px 1px #b5b5b5;
    transition: .5s;
    font-size: 10px;
    border-radius: 50%;
}
.del-btn:hover{
    transition: 0.5s;
    background: #e40000;
    color: #fff;
}
input[type="search"] {
    border: 1px solid #bfbfbf;
    box-shadow: 0px 4px 10px -3px #6d6d6d;
    border-radius: 0%;
    outline: none;
    padding: 3px;
}
select {
    border: 1px solid #bfbfbf;
    box-shadow: 0px 4px 10px -3px #6d6d6d;
    border-radius: 0%;
    outline: none;
    padding: 3px;
}
label {
    padding: 0px;
    word-spacing: 0.5em;
}
.tbl{
    padding: 30px 0 30px 0;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    margin-bottom: 10px;
}
.add-btn {
    margin: 10px 0;
    color: #333;
    padding: 5px 40px;
    border: 1px solid #343a40;
    border-radius: 5px;
    transition: 0.1s;
    float: right;
}
.add-btn:hover{
    transition: 0.1s;
    background: #343a40;
    color: #fff;
}
label{
    word-spacing: 0;
}
.form-control{  
      box-shadow: 0px 4px 10px -3px #6d6d6d;
}
.form-mr{
    margin: 0 0 2em 0;
}
.show-status:nth-child(1) {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0.5px 0.5px 4px 2px #4CAF50;
}
.show-status:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #d4d400;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0.5px 0.5px 4px 2px #caca00;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}